@using GDriveWorker.Metadata
@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Running service as:</h2>

    <b>@Model.ServiceAccountName</b>
</div>

<body>
    <div class="text-center">
        <br />
        <b>Upload Records:</b> Showing 5 of @Model.UploadCount records
        <br />
    </div>
    @foreach (BasicTableInfo uploadInfo in Model.UploadInfo)
    {
        <div class="container pt-2 w-100">
            <div class="row ">
                <div class="col-sm-4 w-50" style=" border: 1px solid;">
                    <div>
                        <b>Name:</b> @uploadInfo.TableMessage
                    </div>
                </div>
                <div class="col-sm-4 w-50" style=" border: 1px solid;">
                    <div >
                        <b>Time:</b> @uploadInfo.MessageDT
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="text-center">
        <br />
        <b>Upload Records:</b> Showing 5 of @Model.DownloadCount records
        <br />
    </div>
    @foreach (BasicTableInfo downloadInfo in Model.DownloadInfo)
    {
        <div class="container pt-2 w-100">
            <div class="row ">
                <div class="col-sm-4 w-50" style=" border: 1px solid;">
                    <div>
                        <b>Name:</b> @downloadInfo.TableMessage
                    </div>
                </div>
                <div class="col-sm-4 w-50" style=" border: 1px solid;">
                    <div >
                        <b>Time:</b> @downloadInfo.MessageDT
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="text-center">
        <br />
        <b>Info Records:</b> Showing 5 of @Model.InfoCount records
        <br />
    </div>
    @foreach (BasicTableInfo uploadInfo in Model.InfoInfo)
    {
        <div class="container pt-2 w-100">
            <div class="row ">
                <div class="col-sm-4 w-50" style=" border: 1px solid;">
                    <div>
                        <b>Info:</b> @uploadInfo.TableMessage
                    </div>
                </div>
                <div class="col-sm-4 w-50" style=" border: 1px solid;">
                    <div >
                        <b>Time:</b> @uploadInfo.MessageDT
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="text-center">
        <br />
        <b>Error Records:</b> Showing 5 of @Model.ErrorCount records
        <br />
    </div>
    @foreach (BasicTableInfo uploadInfo in Model.ErrorInfo)
    {
        <div class="container pt-2 w-100">
            <div class="row ">
                <div class="col-sm-4 w-50" style=" border: 1px solid;">
                    <div>
                        <b>Error:</b> @uploadInfo.TableMessage
                    </div>
                </div>
                <div class="col-sm-4 w-50" style=" border: 1px solid;">
                    <div>
                        <b>Time:</b> @uploadInfo.MessageDT
                    </div>
                </div>
            </div>
        </div>
    }
</body>